.mainheader{

    width: 100%;
    height: 110px;
    z-index: 101;
    background: rgb(177, 134, 226);
    font-size: 23px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin-top: -8px;
}

.icono{
background: rgb(177, 134, 226);
margin: auto;
text-align: center;
padding-top: 15px;

}

#Menu ul{
padding: 0;
margin: 0;
list-style: none;
display: inline-flex;

}

#Menu li{
    padding-top: 15px;
    padding-left: 30px;
}

#Menu li a:hover{
    color: salmon;
    text-decoration: none;

}

.Menu li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(65, 4, 4);
}

